.mainsobre {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, 800px));
  justify-content: center;
}

.sobredosobre,
.estruturadosobre {
  width: 700px;
  border-bottom: solid 4px rgba(255, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  padding-bottom: 100px;
  margin: 100px 30px;
}
